<body class ="show-body-author">

  <header class = "show-header-author">
    <span class ="title">My Desk <span>
  </header>

  <div class = 'container-quotes-edit'>
    <div class = "list-title-add-edit">
      <span class = "title-label-edit">Edit Quotes</span> 
    </div>

    <%= form_with model: @quote, url: update_author_quotes_path() ,local: true do |form| %>

      <div class ='form-edit'>
        <div class = 'edit-body'>
          <span class= "label-edit-quote"> Quote: </span>
        <%= form.text_area :quote, class: 'input-quote' %><br>
        
        <span class= "label-edit-quote"> Author: </span>
        <%= form.select :author_id, Author.all.collect { |p| [ p.author_name, p.id ] }, include_blank: "-select author-",class: "dropdown-select" %>

         <div class ="form-tags">
          <%= form.collection_check_boxes :tag_ids,  Tag.all, :id, :tag_name, include_hidden: false do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
          <% end %>
        </div>  
      </div>

      <div class="submit">
      <%= form.submit "Save Quote", class: "submit-edit" %>
      </div>
    <%end%>
  </div>
</body>
