<body class = "body-new"> 


  <div class = "list-title-add-new"><span class = "title-label">Add New Quotes</span> </div>

  <%= form_tag create_author_quotes_path do %>

<p class= "form-add">

  <%= label_tag :"Add Quote:"%><br>
  <%=text_field_tag :quote %><br>

  <%=submit_tag "Add Quote" %>
  
</p>

<% end %>

<%= link_to 'Back',root_path %>
</body>
