<body class = "body-new"> 
<%= form_with scope: :quote, url: quotes_path, local: true do |form| %>

<p class= "body">

  <span><%= form.label :"Add Quote:" %><br></span>
  <%= form.text_field :quote %><br>
  <%= form.submit "Add Quote" %>
  
</p>
  

<% end %>

<%= link_to 'Back', home_quotes_path %>
</body>
