<body class = "body-new"> 
<%= form_with scope: :quote, url: quotes_path, local: true do |form| %>

  <div class = "list-title-add-new"><span class = "title-label">Add New Quotes</span> </div>

<p class= "form-add">

  <%= form.label :"Add Quote:", class: 'label'%><br>
  <%= form.text_field :quote, class: 'input-quote' %><br>
  <%= form.label :"Author:", class: 'label'%><br>
  <%= form.text_field :author, class: 'input-author' %><br>

  <%= form.submit "Add Quote" %>
  
</p>
  

<% end %>

<%= link_to 'Back',root_path %>
</body>
