<body class ="show-body-author">

  <header class = "show-header-author">
  <span class ="title">My Desk <span>
  </header>

  <div class = 'container-quotes-edit'>
      <div class = "list-title-add-edit">
        <span class = "title-label-edit">Edit Quotes</span> 
      </div>

    <%= form_with model:@quote, :url => {:controller => 'quotes', :action => 'create'} do |f| %>

    <div class ="form-body">

      <div class ="form-parts">
          <span class ="label-edit-quote">Quote:</span>
          <%= f.text_area :quote, class: 'input-quote'%>
      </div>

      <div class ="form-tags">
        <%= f.collection_check_boxes :tag_ids,  Tag.all, :id, :tag_name, include_hidden: false do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </div>

      <div class="submit">
      <%=f.submit "Add Quote", class:"submit-edit" %>
      </div>
    </div>
  <% end %>
  </div>

<%= link_to 'Back',root_path %>
</body>
