<h1> Authors & Quotes </h1>

<p>
<%= @author.author_name %>
</p>

<p>
 <%= link_to "Add Quotes",  new_author_quotes_path(@author) %>
</p>

<hr>
<h2> Quotes </h2>

<% @quotes.each do |quote| %>
<p>

      <%= quote.quote %> |
      <%= link_to 'Edit', edit_author_quotes_path(quote)%> |
      <%= link_to 'Delete', delete_author_quotes_path(quote) ,method: :delete%>
 </p>

<%end%>

