

<body class ="show-body">

<header class = "show-header">
 <span class ="title">My Desk <span>
</header>

<div class ="container">
<div class = "page-title">
Edit Info 
</div>

  <%= form_with(model: @user, :url => {:controller => 'users', :action => 'update'}, class: "form-field") do |f| %>
    <div class ="body-form">
    <strong class ="label">Username: </strong>
    <%= f.text_field :username, class:"text-field"%> 
    </div>   
    
    <div class ="body-form">
    <strong class ="label">Email: </strong>
    <%= f.text_field :email, class:"text-field"%> 
    </div>  
    <div class ="body-form">
    <strong class ="label">Password: </strong>
    <%= f.text_field :password, class:"text-field"%> 
    </div>  
    
    
    <%= f.submit :Save, class: "submit-btn" %>
    
  <% end %>


  <div class ="buttons">
  <%= link_to show_users_path(@user), class:"edit-btn btn" do%>
    <i class="fas fa-caret-left arrow fa-2x"></i> <span class ='label-btn'>Back</span>
  <%end%>

  </div>

  </body>

