<h1> Login User </h1>

<%= form_with url: auth_users_path,local: true do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>

  <p>
  <%= form.label :Password %><br>
  <%= form.password_field :password %><br>
  </p>

  <p>
    <%= form.submit %>
  </p>
  <%end%>

 