
<body class= "body-new">

  <div class ="container">

    <div class ="title-signup"> Sign up </div>
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    
      <div class ="form-parts">
        <span class ="form-labels">Username:</span>
        <%= f.text_field :username, class: "input-fields" %>
      </div>

      <div class ="form-parts">
        <span class ="form-labels">Email:</span>
        <%= f.text_field :email, class: "input-fields" %>
      </div>

      <div class ="form-parts">
        <span class ="form-labels">Password:</span>
        <%= f.password_field :password, class: "input-fields" %>
      </div>

      <div class ="form-button">
      <%= f.submit "Sign up", class: "button" %>
      </div>
      
    <% end %>
    <% if @user.errors.any? %>
      <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
        <li>* <%= message_error %></li>
      <% end %>
      </ul>
    <% end %>

    <span class ="signup">
      Already have an account?
      <%= link_to 'Login here', login_users_path, class: "login-link" %>
    </span>
    
  </div>
 </body> 

